:host {
  display: inline-block;
}

input {
  display: block;
  width: 100%;
}

.score {
  display: flex;
  align-items: center;

  progress {
    flex: 1;
  }

  .score-label {
    padding: 0 0 0 5px;
  }
}
